Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Path conditions:
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-fips: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-jammy: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-oidc-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$

Add JSON schema & validation for `role assignment`
  keystone/api/role_assignments.py
  keystone/assignment/schema.py
  keystone/tests/unit/test_v3_assignment.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add JSON schema and validation for role grants
  keystone/api/domains.py
  keystone/api/projects.py
  keystone/api/system.py
  keystone/resource/schema.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add JSON Schema to `endpoint groups` and validation decorators to endpoint groups resource.
  keystone/api/os_ep_filter.py
  keystone/catalog/schema.py
  keystone/tests/unit/test_v3_catalog.py
  keystone/tests/unit/test_validation.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Imported Translations from Zanata
  keystone/locale/en_GB/LC_MESSAGES/keystone.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add upgrade note for LDAP TLS configuration change
  releasenotes/notes/tls-cacert-3ccd2c022ba31c59.yaml
Due: none

Add JSON Schema to `services` and validation decorators to services resource.
  keystone/api/services.py
  keystone/catalog/schema.py
  keystone/tests/unit/test_validation.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Direct link to keystone docs
  README.rst
Due: none

[stable-only] Cap setuptools <71.0.0 and fix gate
  .zuul.yaml
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Fix CI
  .zuul.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Use default member role in federation tests
  devstack/lib/federation.sh
  devstack/lib/oidc.sh
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Replace tabs
  devstack/lib/oidc.sh
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

docs: Add usage guide for trusts
  doc/source/admin/manage-trusts.rst
  doc/source/user/trusts.rst
Due: none

Update .gitreview for stable/2025.1
  .gitreview
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Add JSON schema and validation for `region`
  keystone/api/regions.py
  keystone/api/validation/parameter_types.py
  keystone/catalog/schema.py
  keystone/tests/unit/test_validation.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

api: Don't restrict unknown querystring parameters yet
  keystone/application_credential/schema.py
  keystone/assignment/schema.py
  keystone/catalog/schema.py
  keystone/credential/schema.py
  keystone/federation/schema.py
  keystone/identity/schema.py
  keystone/limit/schema.py
  keystone/resource/schema.py
  keystone/tests/unit/test_v3_application_credential.py
  keystone/trust/schema.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

api: Correct query string schema for access rules API
  keystone/api/users.py
  keystone/application_credential/schema.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Document example when report_invalid_password_hash=event
  doc/source/admin/event_notifications.rst
Due: none

api: Don't restrict unknown querystring parameters yet (redux)
  keystone/catalog/schema.py
  keystone/federation/schema.py
  keystone/identity/schema.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add a new index on project_endpoint_group
  keystone/common/sql/migrations/versions/2025.02/expand/e8725d6fa226_add_project_id_index_to_project_.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Fix an error in the document
  doc/source/admin/service-api-protection.rst
Due: none

Use a %% to escape the % sign
  keystone/common/sql/upgrades.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove tags from README
  README.rst
Due: none

Fix DB migrations after alembic integration
  keystone/cmd/cli.py
  keystone/common/sql/upgrades.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Start building openapi doc
  .gitignore
  api-ref/requirements.txt
  api-ref/source/conf.py
  api-ref/source/index.rst
  api-ref/source/openapi.rst
  doc/requirements.txt
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add pyproject.toml to support pip 23.1
  pyproject.toml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

wsgi: Don't create, use lock in same line
  keystone/wsgi/api.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

setup: Remove pbr's wsgi_scripts
  releasenotes/notes/remove-wsgi-scripts-615b97ee4d6e0de2.yaml
  setup.cfg
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-oidc-federation

Use real service type in catalog multi-region test
  keystone/tests/unit/test_v3_catalog.py
Due: none

Remove openSUSE/SLES from install guide
  doc/source/admin/federation/configure_federation.rst
  doc/source/install/get-started-obs.rst
  doc/source/install/index-obs.rst
  doc/source/install/index.rst
  doc/source/install/keystone-install-obs.rst
  doc/source/install/keystone-openrc-obs.rst
  doc/source/install/keystone-users-obs.rst
  doc/source/install/keystone-verify-obs.rst
Due: none
