Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Path conditions:
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-fips: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-jammy: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-oidc-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$

Import LOG where it is used
  keystone/api/validation/__init__.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Invalidate token of user disabled in readonly backend
  keystone/tests/unit/test_v3_auth.py
  keystone/token/provider.py
  releasenotes/notes/invalidate-token-disabled-user-readonly-backend-5fa09c3e40e8d795.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Fix getting token from application credentials token
  keystone/api/_shared/authentication.py
  keystone/auth/plugins/token.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

api-ref: Add (deprecated) endpoint name docs
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/service-catalog.inc
Due: none

Ignore codegenerator working directory
  .gitignore
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Improve federated mapping documentation clarity
  doc/source/admin/federation/mapping_combinations.rst
Due: none

Drop flake8-docstrings
  test-requirements.txt
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-oidc-federation

Cap hacking
  test-requirements.txt
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-oidc-federation

Fix role assignment cache for federated users
  keystone/assignment/core.py
  keystone/identity/core.py
  keystone/identity/shadow_backends/sql.py
  keystone/tests/unit/test_user_group_cache_invalidation.py
  keystone/tests/unit/test_user_group_cache_invalidation_integration.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

api-ref: Add description field in Endpoint
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/service-catalog.inc
Due: none

Fix small typo about ec2tokens in documentation
  doc/source/getting-started/policy_mapping.rst
Due: none

SSO template now HTML5 validate
  etc/sso_callback_template.html
Due: none

api-ref: add missing enabled field on endpoint
  api-ref/source/v3/service-catalog.inc
Due: none

Replace deprecated warn method
  keystone/token/provider.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Fix trusts jsonschema to support additional properties
  keystone/trust/schema.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update hard-coded policy for GET /v3/limits
  keystone/api/limits.py
  keystone/tests/unit/test_limits.py
  releasenotes/notes/fix-bug-2137711-81ffc27928a7bdf7.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add OpenID Connect CLI authentication examples
  doc/source/admin/federation/configure_federation.rst
Due: none

Copy env to subprocess in policy test
  keystone/tests/unit/test_policy.py
Due: none

tox: Drop basepython
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Keystone identity mapping to support project definition as a JSON
  doc/source/admin/federation/dynamic_project_assignments.rst
  doc/source/admin/federation/federated_identity.rst
  doc/source/admin/federation/mapping_combinations.rst
  keystone/auth/plugins/mapped.py
  keystone/federation/core.py
  keystone/federation/utils.py
  keystone/tests/unit/auth/plugins/test_mapped.py
  keystone/tests/unit/federation/test_utils.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Bump flake8-import-order
  .pre-commit-config.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Move keystone-tempest-federation to noble
  .zuul.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove legacy remove_role_from_user_and_project
  keystone/assignment/backends/base.py
  keystone/assignment/backends/sql.py
  keystone/assignment/core.py
  keystone/tests/unit/application_credential/test_backends.py
  keystone/tests/unit/assignment/test_backends.py
  keystone/tests/unit/common/test_notifications.py
  keystone/tests/unit/test_v3_auth.py
  keystone/tests/unit/test_v3_oauth1.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove V2 get_catalog from catalog driver
  keystone/catalog/backends/base.py
  keystone/catalog/backends/sql.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update .gitreview for stable/2026.1
  .gitreview
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Pin openapi-core version in the api-ref job
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Block app credential token rescoping
  keystone/auth/plugins/token.py
  keystone/tests/unit/test_v3_auth.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Include system scope in rescope guard
  keystone/auth/plugins/token.py
  keystone/tests/unit/test_v3_auth.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

fix ldap 'enabled' setting not interpreted as boolean
  keystone/identity/backends/ldap/core.py
  releasenotes/notes/fix_ldap_enabled_boolean-6281eb00e5aaed26.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

fix(pep8): pin setuptools<82 for flake8-import-order compatibility
  .pre-commit-config.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Fix OIDC federation UTF-8 double-encoding of non-ASCII characters
  keystone/federation/utils.py
  keystone/tests/unit/contrib/federation/test_utils.py
  keystone/tests/unit/mapping_fixtures.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation
