Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

keystone-dsvm-functional:
  parent: devstack-tempest
  timeout: 4200
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/keystone
  - openstack/keystone-tempest-plugin
  vars:
    tox_envlist: all
    tempest_test_regex: keystone_tempest_plugin
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin

keystone-dsvm-py3-functional:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

keystone-dsvm-functional-federation-opensuse15:
  parent: keystone-dsvm-functional
  nodeset: devstack-single-node-opensuse-150
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py3-functional-federation-opensuse15:
  parent: keystone-dsvm-functional-federation-opensuse15
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    zuul_copy_output:
      /etc/shibboleth: logs

keystoneclient-devstack-functional:
  voting: false

legacy-tempest-dsvm-ldap-domain-specific-driver:
  voting: false

keystone-dsvm-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
  post-run: playbooks/legacy/keystone-dsvm-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/keystone

openstack-ansible-keystone-rolling-upgrade:
  parent: openstack-ansible-cross-repo-functional
  required-projects:
  - name: openstack/openstack-ansible-os_keystone
  vars:
    tox_env: upgrade
    osa_test_repo: openstack/openstack-ansible-os_keystone

keystone-dsvm-functional-federation-centos7:
  parent: keystone-dsvm-functional
  nodeset: devstack-single-node-centos-7
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-functional-federation-ubuntu-xenial:
  parent: keystone-dsvm-functional
  nodeset: openstack-single-node-xenial
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py35-functional-federation-ubuntu-xenial:
  parent: keystone-dsvm-functional-federation
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    zuul_copy_output:
      /etc/shibboleth: logs

Move redelegation fields out of extras
  api-ref/source/v3-ext/trust.inc
  keystone/common/sql/contract_repo/versions/062_contract_extract_redelegation_data_from_extras.py
  keystone/common/sql/data_migration_repo/versions/062_migrate_extract_redelegation_data_from_extras.py
  keystone/common/sql/expand_repo/versions/062_expand_extract_redelegation_data_from_extras.py
  keystone/tests/unit/test_sql_upgrade.py
  keystone/trust/backends/sql.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add missing ws separator between words
  keystone/cmd/bootstrap.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Support endpoint updates in bootstrap
  keystone/cmd/bootstrap.py
  keystone/tests/unit/test_cli.py
  releasenotes/notes/bootstrap-update-endpoint-7a63a2329822b6e7.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Make fetching all foreign keys in a join
  keystone/identity/backends/sql_model.py
  keystone/tests/unit/test_backend_sql.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Use openstackdocstheme according to guide
  api-ref/source/conf.py
Due: none

Fix unscoped federated token formatter
  keystone/tests/unit/token/test_fernet_provider.py
  keystone/token/token_formatters.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Uncap jsonschema
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Replace support matrix ext with common library
  doc/ext/support_matrix.py
  doc/requirements.txt
  doc/source/admin/identity-support-matrix.ini
  doc/source/admin/token-support-matrix.ini
  doc/source/conf.py
Due: none

Pass kwargs to exception to get better format of error message
  keystone/common/utils.py
  keystone/identity/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

OpenDev Migration Patch
  .gitreview
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/legacy/keystone-dsvm-functional-v3-only/run.yaml
  playbooks/legacy/keystone-dsvm-functional/run.yaml
  playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
  playbooks/legacy/keystone-dsvm-py35-functional-v3-only/run.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Replace git.openstack.org URLs with opendev.org URLs
  README.rst
  doc/source/admin/federation/configure_federation.rst
  doc/source/cli/keystone-manage.rst
  doc/source/cli/keystone-status.rst
  doc/source/contributor/api_change_tutorial.rst
  doc/source/contributor/database-migrations.rst
  doc/source/contributor/how-can-i-help.rst
  doc/source/contributor/proposing-features.rst
  doc/source/contributor/services.rst
  doc/source/contributor/set-up-keystone.rst
  doc/source/contributor/testing-keystone.rst
  doc/source/getting-started/architecture.rst
  doc/source/getting-started/community.rst
  doc/source/index.rst
  keystone/common/sql/contract_repo/README
  keystone/common/sql/data_migration_repo/README
  keystone/common/sql/expand_repo/README
  keystone/common/sql/migrate_repo/README
  keystone_tempest_plugin/README.rst
  releasenotes/notes/bug-1705485-7a1ad17b9cc99b9d.yaml
  releasenotes/notes/deprecated-as-of-queens-8ad7f826e4f08f57.yaml
  releasenotes/notes/extensions-to-core-a0d270d216d47276.yaml
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix for werkzeug > 0.15
  keystone/server/flask/request_processing/json_body.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

[docs] remove deprecated ubuntu package from installation
  doc/source/install/keystone-install-ubuntu.rst
Due: none

Update Python 3 test runtimes for Train
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Blacklist bandit 1.6.0
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix documentation typo
  keystone/conf/jwt_tokens.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Blacklist bandit 1.6.0"
  keystone/assignment/core.py
  keystone/common/authorization.py
  keystone/common/policies/base.py
  keystone/common/sql/migrate_repo/versions/097_drop_user_name_domainid_constraint.py
  keystone/common/sql/migrate_repo/versions/104_drop_user_name_domainid_constraint.py
  keystone/identity/backends/sql_model.py
  keystone/notifications.py
  keystone/oauth1/core.py
  setup.cfg
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Cap sphinx for py2 to match global requirements
  doc/requirements.txt
Due: none

Adds caching of credentials
  keystone/conf/credential.py
  keystone/credential/core.py
  releasenotes/notes/bug-1815771-ae0e4118c552f01e.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add clarification for context in install guides
  doc/source/install/keystone-install-obs.rst
  doc/source/install/keystone-install-rdo.rst
  doc/source/install/keystone-install-ubuntu.rst
Due: none

Pep8 environment to run on delta code only
  tools/fast8.sh
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove [token]/ infer_roles
  keystone/assignment/core.py
  keystone/conf/token.py
  keystone/tests/unit/test_v3_auth.py
  releasenotes/notes/removed-as-of-train-92b2942a680eb859.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Don't throw valueerror on bootstrap
  keystone/cmd/cli.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Add API for /v3/access_rules_config"
  keystone/api/__init__.py
  keystone/api/access_rules_config.py
  keystone/tests/unit/test_v3_access_rules_config.py
  keystone/tests/unit/test_versions.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Add manager support for app cred access rules"
  keystone/application_credential/core.py
  keystone/exception.py
  keystone/tests/unit/application_credential/test_backends.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Add a permissive mode for access rules config"
  keystone/access_rules_config/backends/json.py
  keystone/access_rules_config/core.py
  keystone/conf/access_rules_config.py
  keystone/tests/unit/access_rules_config/test_backends.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Add manager for access rules config"
  keystone/access_rules_config/__init__.py
  keystone/access_rules_config/core.py
  keystone/server/backends.py
  keystone/tests/unit/access_rules_config/test_backends.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Add JSON driver for access rules config"
  keystone/access_rules_config/__init__.py
  keystone/access_rules_config/backends/__init__.py
  keystone/access_rules_config/backends/base.py
  keystone/access_rules_config/backends/json.py
  keystone/conf/__init__.py
  keystone/conf/access_rules_config.py
  keystone/exception.py
  keystone/tests/unit/access_rules_config/__init__.py
  keystone/tests/unit/access_rules_config/backends/__init__.py
  keystone/tests/unit/access_rules_config/backends/test_json.py
  keystone/tests/unit/config_files/access_rules.json
  keystone/tests/unit/ksfixtures/__init__.py
  keystone/tests/unit/ksfixtures/access_rules_config.py
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add note about application credential ownership
  doc/source/user/application_credentials.rst
Due: none

Update mission statement and vision reflection
  doc/source/contributor/vision-reflection.rst
Due: none

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-federation-centos7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
