Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

keystone-dsvm-py3-functional:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

keystone-dsvm-py3-functional-fips:
  parent: keystone-dsvm-py3-functional
  nodeset: devstack-single-node-centos-9-stream
  description: 'Functional testing for a FIPS enabled Centos 9 system
  
    '
  pre-run: playbooks/enable-fips.yaml
  vars:
    nslookup_target: opendev.org

keystone-dsvm-py3-functional-federation-ubuntu-jammy:
  parent: keystone-dsvm-functional
  nodeset: openstack-single-node-jammy
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k:
  parent: keystone-dsvm-py3-functional-federation-ubuntu-jammy
  vars:
    devstack_localrc:
      IDP_ID: k2k

keystoneclient-devstack-functional:
  voting: false

keystone-dsvm-ldap-domain-specific-driver:
  parent: devstack-tempest
  vars:
    devstack_localrc:
      KEYSTONE_CLEAR_LDAP: 'yes'
      LDAP_PASSWORD: nomoresecret
      USE_PYTHON3: true
    devstack_services:
      ldap: true

keystone-grenade-multinode:
  parent: grenade-multinode
  required-projects:
  - openstack/grenade
  - openstack/keystone
  vars:
    devstack_plugins:
      keystone: https://opendev.org/openstack/keystone
    grenade_devstack_localrc:
      shared:
        MULTI_KEYSTONE: true

openstack-ansible-keystone-rolling-upgrade:
  parent: openstack-ansible-cross-repo-functional
  required-projects:
  - name: openstack/openstack-ansible-os_keystone
  vars:
    tox_env: upgrade
    osa_test_repo: openstack/openstack-ansible-os_keystone

keystone-dsvm-functional-oidc-federation:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
      OS_CACERT: /opt/stack/data/ca_bundle.pem
    devstack_services:
      tls-proxy: true
      keystone-oidc-federation: true
    devstack_plugins:
  ...

Update development setup doc
  doc/source/contributor/set-up-keystone.rst
Due: none

Fix role statement in admin doc
  doc/source/admin/service-api-protection.rst
Due: none

Add keystone-manage reset_last_active command
  keystone/cmd/cli.py
  keystone/identity/backends/base.py
  keystone/identity/backends/ldap/core.py
  keystone/identity/backends/sql.py
  keystone/identity/shadow_backends/sql.py
  keystone/tests/unit/identity/shadow_users/test_backend.py
  releasenotes/notes/bug-2074018-28f7bbe8f28f5efe.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update hacking to latest version
  .pre-commit-config.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Implement the Domain Manager Persona for Keystone
  doc/source/admin/service-api-protection.rst
  keystone/api/roles.py
  keystone/common/policies/base.py
  keystone/common/policies/grant.py
  keystone/common/policies/group.py
  keystone/common/policies/project.py
  keystone/common/policies/role.py
  keystone/common/policies/user.py
  keystone/tests/unit/test_policy.py
  releasenotes/notes/domain-manager-persona-7921587ce2fab4fd.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Add JsonSchema validation framework
  keystone/api/validation/__init__.py
  keystone/api/validation/parameter_types.py
  keystone/api/validation/response_types.py
  keystone/api/validation/validators.py
  keystone/server/flask/common.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Prevent circlular imports in keystone.api
  keystone/api/__init__.py
  keystone/server/flask/application.py
  keystone/tests/unit/core.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove support-matrix.css
  .gitignore
  doc/source/_static/support-matrix.css
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove logic to support pysaml2<3.0.0
  keystone/federation/idp.py
  keystone/tests/unit/test_v3_federation.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Document usage of the Domain Manager persona
  doc/source/user/domain-manager-usage.rst
  doc/source/user/index.rst
Due: none

Update mod_openidc config for devstack
  devstack/files/oidc/apache_oidc.conf
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Deprecate ineffective [DEFAULT] max_param_size
  keystone/conf/default.py
  releasenotes/notes/deprecate-max-param-size-6e0770e0c9d21dd6.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update .gitreview for stable/2024.2
  .gitreview
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix logic of fernet creation when running as root
  keystone/common/fernet_utils.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove leftovers for SQLAlchemy < 2
  keystone/tests/unit/ksfixtures/warnings.py
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Switch to hashlib.scrypt from passlib
  keystone/common/password_hashers/__init__.py
  keystone/common/password_hashers/scrypt.py
  keystone/common/password_hashing.py
  keystone/tests/unit/common/test_password_hashing.py
  keystone/tests/unit/identity/test_backend_sql.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Switch to direct usage of bcrypt
  keystone/common/password_hashers/bcrypt.py
  keystone/common/password_hashing.py
  keystone/tests/unit/common/test_password_hashing.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Switch to crypt from passlib
  keystone/common/password_hashers/sha512_crypt.py
  keystone/common/password_hashing.py
  keystone/tests/unit/common/test_password_hashing.py
  releasenotes/notes/sha512_crypt_deprecation-91a19080f1e884e4.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Switch to cryptography for pbkdf2_sha512 password hashing
  keystone/common/password_hashers/bcrypt.py
  keystone/common/password_hashers/pbkdf2.py
  keystone/common/password_hashing.py
  keystone/tests/unit/common/test_password_hashing.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Complete getting rid of passlib
  keystone/conf/identity.py
  keystone/tests/unit/common/test_password_hashing.py
  releasenotes/notes/drop-passlib-9b398c8f08f5e9ee.yaml
  requirements.txt
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove direct dependency on memcache
  setup.cfg
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-oidc-federation

Add JsonSchema to `credentials`
  keystone/api/credentials.py
  keystone/common/validation/validators.py
  keystone/credential/schema.py
  keystone/tests/unit/test_validation.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Enable JsonSchema validation for `project`
  keystone/api/projects.py
  keystone/api/validation/parameter_types.py
  keystone/api/validation/response_types.py
  keystone/resource/schema.py
  keystone/tests/unit/test_validation.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Move OIDC job to check
  .zuul.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

extend docs explaining OIDC
  devstack/files/oidc/apache_oidc.conf
  doc/source/admin/federation/configure_federation.rst
  doc/source/admin/federation/openidc.inc
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Drop unused tempest from test requirements
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-oidc-federation

Skip functional tests on pre-commit config update
  .zuul.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove Python 3.8 support
  releasenotes/notes/remove-py38-4e33bcf77029f0d0.yaml
  setup.cfg
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-oidc-federation

Remove remaining reference to volume v2 API
  tools/sample_data.sh
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-jammy, keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, keystone-dsvm-functional-oidc-federation

Remove pointer for keystone-tempest-plugin
  keystone_tempest_plugin/README.rst
Due: none

Path conditions:
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-fips: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-jammy: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-jammy-k2k: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-oidc-federation: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
