Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Path conditions:
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-fips: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-focal: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-federation-centos7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$

[PooledLDAPHandler] Ensure result3() invokes message.clean()
  keystone/identity/backends/ldap/common.py
  keystone/tests/unit/fakeldap.py
  keystone/tests/unit/test_backend_ldap_pool.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

tests: Enable SQLAlchemy 2.0 deprecation warnings
  keystone/tests/unit/ksfixtures/warnings.py
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Bump SQLAlchemy minimum version
  requirements.txt
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

db: Replace use of legacy select() calling style
  keystone/tests/unit/ksfixtures/warnings.py
  keystone/tests/unit/test_backend_sql.py
Due: none

db: Replace use of reverse cascades
  keystone/application_credential/backends/sql.py
  keystone/tests/unit/ksfixtures/warnings.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

db: Replace use of Query.get()
  keystone/assignment/role_backends/sql.py
  keystone/catalog/backends/sql.py
  keystone/credential/backends/sql.py
  keystone/federation/backends/sql.py
  keystone/identity/backends/sql.py
  keystone/identity/mapping_backends/sql.py
  keystone/identity/shadow_backends/sql.py
  keystone/oauth1/backends/sql.py
  keystone/policy/backends/sql.py
  keystone/resource/backends/sql.py
  keystone/resource/config_backends/sql.py
  keystone/tests/unit/identity/shadow_users/test_backend.py
  keystone/tests/unit/identity/test_backend_sql.py
  keystone/tests/unit/ksfixtures/warnings.py
  keystone/tests/unit/test_backend_sql.py
  keystone/trust/backends/sql.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

db: Remove use of 'bind' arguments
  keystone/common/sql/legacy_migrations/data_migration_repo/versions/073_migrate_initial_migration.py
  keystone/common/sql/legacy_migrations/expand_repo/versions/073_expand_initial_migration.py
  keystone/common/sql/legacy_migrations/expand_repo/versions/079_expand_update_local_id_limit.py
  keystone/tests/unit/ksfixtures/warnings.py
  keystone/tests/unit/test_sql_upgrade.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

db: Don't pass strings to 'Connection.execute'
  keystone/common/sql/legacy_migrations/expand_repo/versions/073_expand_initial_migration.py
  keystone/tests/unit/ksfixtures/database.py
  keystone/tests/unit/ksfixtures/warnings.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

db: Replace use of 'autoload' parameter
  keystone/common/sql/legacy_migrations/data_migration_repo/versions/073_migrate_initial_migration.py
  keystone/common/sql/legacy_migrations/expand_repo/versions/079_expand_update_local_id_limit.py
  keystone/tests/unit/backend/core_sql.py
  keystone/tests/unit/ksfixtures/warnings.py
  keystone/tests/unit/test_backend_sql.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove unnecessary removal of pyc files
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

tests: Rework BannedDBSchemaOperations fixture
  keystone/tests/unit/test_sql_banned_operations.py
Due: none

sql: Add support for auto-generation
  doc/source/conf.py
  keystone/common/sql/migrations/__init__.py
  keystone/common/sql/migrations/autogen.py
  keystone/common/sql/migrations/env.py
  keystone/common/sql/migrations/manage.py
  keystone/common/sql/migrations/versions/yoga/contract/e25ffa003242_initial.py
  keystone/common/sql/migrations/versions/yoga/expand/29e87d24a316_initial.py
  keystone/common/sql/upgrades.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

OAuth 2.0 Mutual-TLS Support
  keystone/api/os_oauth2.py
  keystone/common/render_token.py
  keystone/common/utils.py
  keystone/conf/__init__.py
  keystone/conf/oauth2.py
  keystone/models/token_model.py
  keystone/tests/unit/common/test_utils.py
  keystone/tests/unit/core.py
  keystone/tests/unit/test_v3_auth.py
  keystone/tests/unit/test_v3_oauth2.py
  keystone/tests/unit/token/test_fernet_provider.py
  keystone/token/provider.py
  keystone/token/providers/base.py
  keystone/token/providers/fernet/core.py
  keystone/token/providers/jws/core.py
  keystone/token/token_formatters.py
  releasenotes/notes/bp-support-oauth2-mtls-8552892a8e0c72d2.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update .gitreview for stable/2023.1
  .gitreview
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

sql: Fix incorrect constraints
  keystone/common/sql/migrations/env.py
  keystone/common/sql/migrations/versions/CONTRACT_HEAD
  keystone/common/sql/migrations/versions/EXPAND_HEAD
  keystone/common/sql/migrations/versions/bobcat/contract/99de3849d860_fix_incorrect_constraints.py
  keystone/common/sql/migrations/versions/bobcat/expand/b4f8b3f584e0_fix_incorrect_constraints.py
  keystone/tests/unit/common/sql/test_upgrades.py
  keystone/tests/unit/test_sql_banned_operations.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove Dependency on Cryptography >=36.0.0
  keystone/common/utils.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Don't forget to check if authorization fails
  keystone/server/flask/request_processing/middleware/auth_context.py
  keystone/tests/unit/common/test_notifications.py
  keystone/tests/unit/test_v3.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

[PooledLDAPHandler] Clean up the fix for result3()
  keystone/identity/backends/ldap/common.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Print a human readable error if tls certs are not provided
  keystone/identity/backends/ldap/common.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add default service role support to boostrap command
  doc/source/admin/service-api-protection.rst
  doc/source/contributor/services.rst
  keystone/cmd/bootstrap.py
  keystone/cmd/cli.py
  keystone/tests/protection/v3/test_roles.py
  keystone/tests/unit/test_cli.py
  releasenotes/notes/bug-1951632-11272e49e2fa439d.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix outdated default catalog template
  etc/default_catalog.templates
Due: none

sql: Remove duplicate constraints
  keystone/common/sql/migrations/env.py
  keystone/common/sql/migrations/versions/CONTRACT_HEAD
  keystone/common/sql/migrations/versions/bobcat/contract/c88cdce8f248_remove_duplicate_constraints.py
  keystone/resource/backends/sql_model.py
  keystone/tests/unit/common/sql/test_upgrades.py
  keystone/tests/unit/test_sql_banned_operations.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add doc of OAuth2.0 Client Credentials Grant Flow
  api-ref/source/v3-ext/index.rst
  api-ref/source/v3-ext/oauth2.inc
  api-ref/source/v3-ext/parameters.yaml
  api-ref/source/v3-ext/samples/OS-OAUTH2/token-create-request.txt
  api-ref/source/v3-ext/samples/OS-OAUTH2/token-create-response.json
  doc/source/admin/index.rst
  doc/source/admin/oauth2-usage-guide.rst
Due: none

Fix typo in openid federation diagram
  doc/source/admin/federation/introduction.rst
Due: none

Imported Translations from Zanata
  keystone/locale/en_GB/LC_MESSAGES/keystone.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add job to test with SQLAlchemy master (2.x)
  .zuul.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

db: Don't rely on branched connections
  keystone/common/sql/migrations/env.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

sql: Delay importing SQL modules
  keystone/common/sql/migrations/manage.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix presentation of OAuth2.0 user guides
  doc/source/admin/configure-https.rst
  doc/source/admin/index.rst
  doc/source/admin/oauth2-usage-guide.rst
Due: none

[stable-only] Cap keystone-tempest-plugin version for stable/wallaby
  .zuul.yaml
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

doc: Add minimal documentation on generating migrations
  doc/source/contributor/database-migrations.rst
Due: none

sql: Fix incorrect columns
  keystone/common/sql/migrations/env.py
  keystone/common/sql/migrations/versions/27e647c0fad4_initial_version.py
  keystone/credential/backends/sql.py
  keystone/federation/backends/sql.py
  keystone/identity/backends/sql_model.py
Due: keystone-dsvm-py3-functional, keystone-dsvm-py3-functional-fips, keystone-dsvm-py3-functional-federation-ubuntu-focal, keystone-dsvm-py3-functional-federation-ubuntu-focal-k2k, keystoneclient-devstack-functional, keystone-dsvm-ldap-domain-specific-driver, tempest-full-py3, grenade, tempest-ipv6-only, keystone-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse15, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial
