Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-federation-centos7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$

Support bytes type in generate_public_ID()
  keystone/identity/id_generators/sha256.py
  keystone/tests/unit/test_backend_id_mapping_sql.py
  releasenotes/notes/bug-1901654-69b9f35d11cd0c75.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add job for keystone functional protection tests
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Drop lower-constraints job
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Use app cred user ID in policy enforcement
  keystone/api/users.py
  keystone/tests/protection/v3/test_application_credential.py
  releasenotes/notes/bug-1901207-13762f85b8a04481.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update .gitreview for stable/wallaby
  .gitreview
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Imported Translations from Zanata
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Retry update_user when sqlalchemy raises StaleDataErrors
  keystone/identity/backends/sql.py
  keystone/tests/unit/test_backend_sql.py
  releasenotes/notes/bug-1885753-51df25f3ff1d9ae8.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Hide AccountLocked exception from end users
  keystone/notifications.py
  keystone/tests/unit/common/test_notifications.py
  keystone/tests/unit/identity/test_backend_sql.py
  releasenotes/notes/bug-1688137-e4203c9a728690a7.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Only log warnings about token length when length exceeds max_token_size
  keystone/tests/unit/token/test_fernet_provider.py
  keystone/token/token_formatters.py
  releasenotes/notes/bug-1926483-a77ab887e0e7f5c9.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

fix get_security_compliance_domain_config policy rule typo
  keystone/common/policies/domain_config.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Make DB queries compatible with SQLAlchemy 1.4.x
  keystone/common/sql/core.py
  keystone/identity/shadow_backends/sql.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

docs: Fix failing build
  keystone/common/sql/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove use of deprecated oslo.db options
  keystone/tests/unit/config_files/backend_ldap_sql.conf
  keystone/tests/unit/config_files/backend_multi_ldap_sql.conf
  keystone/tests/unit/config_files/backend_sql.conf
  keystone/tests/unit/config_files/deprecated.conf
  keystone/tests/unit/config_files/deprecated_override.conf
  keystone/tests/unit/test_config.py
Due: none

Remove group deletion for non-sql driver when removing domains.
  keystone/identity/core.py
  releasenotes/notes/bug-1848238-f6533644f7907358.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Moving IRC network reference to OFTC
  README.rst
  doc/source/contributor/how-can-i-help.rst
  doc/source/getting-started/community.rst
Due: none

Replace deprecated import of ABCs from collections
  keystone/common/utils.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add FIPS check job
  .zuul.yaml
  playbooks/enable-fips.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update local_id limit to 255 characters
  doc/source/admin/domain-specific-config.inc
  keystone/common/sql/contract_repo/versions/079_contract_update_local_id_limit.py
  keystone/common/sql/data_migration_repo/versions/079_migrate_update_local_id_limit.py
  keystone/common/sql/expand_repo/versions/079_expand_update_local_id_limit.py
  keystone/identity/mapping_backends/sql.py
  keystone/tests/unit/test_backend_id_mapping_sql.py
  keystone/tests/unit/test_sql_banned_operations.py
  keystone/tests/unit/test_sql_upgrade.py
  releasenotes/notes/bug-1929066-6e741c9182620a37.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update application-credentials.inc
  api-ref/source/v3/application-credentials.inc
Due: none

Fix oslo policy DeprecatedRule warnings
  keystone/common/policies/application_credential.py
  keystone/common/policies/consumer.py
  keystone/common/policies/credential.py
  keystone/common/policies/domain.py
  keystone/common/policies/domain_config.py
  keystone/common/policies/ec2_credential.py
  keystone/common/policies/endpoint.py
  keystone/common/policies/endpoint_group.py
  keystone/common/policies/grant.py
  keystone/common/policies/group.py
  keystone/common/policies/identity_provider.py
  keystone/common/policies/implied_role.py
  keystone/common/policies/mapping.py
  keystone/common/policies/policy.py
  keystone/common/policies/policy_association.py
  keystone/common/policies/project.py
  keystone/common/policies/project_endpoint.py
  keystone/common/policies/protocol.py
  keystone/common/policies/region.py
  keystone/common/policies/role.py
  keystone/common/policies/role_assignment.py
  keystone/common/policies/service.py
  keystone/common/policies/service_provider.py
  keystone/common/policies/token.py
  keystone/common/policies/trust.py
  keystone/common/policies/user.py
  lower-constraints.txt
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Pin keystone-tempest-plugin for py27 compatibility
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Pin keystone-tempest-plugin for py27 compatibility
  .zuul.yaml
  doc/requirements.txt
  lower-constraints.txt
  setup.cfg
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix typos in ec2 credential policies
  keystone/common/policies/ec2_credential.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Replace deprecated assertDictContainsSubset
  keystone/tests/unit/assignment/test_backends.py
  keystone/tests/unit/catalog/test_backends.py
  keystone/tests/unit/identity/test_backends.py
  keystone/tests/unit/resource/test_backends.py
  keystone/tests/unit/test_backend_ldap.py
  keystone/tests/unit/test_v3.py
Due: none

Improve performance on trust deletion
  keystone/trust/backends/base.py
  keystone/trust/backends/sql.py
  keystone/trust/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial
