Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-federation-centos7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$

Honor group_members_are_ids for user_enabled_emulation
  keystone/identity/backends/ldap/common.py
  keystone/tests/unit/test_backend_ldap.py
  releasenotes/notes/bug-1839133-24570c9fbacb530d.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Refactor some ldap code to implement TODOs
  keystone/identity/backends/ldap/common.py
  keystone/tests/unit/test_backend_ldap.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

drop mock from test-requirements
  test-requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

remove oslo-concurrency from requirements
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Document the "immutable" resource option
  api-ref/source/v3/domains.inc
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/projects.inc
  api-ref/source/v3/roles.inc
  api-ref/source/v3/samples/admin/domain-create-response.json
  api-ref/source/v3/samples/admin/domain-show-response.json
  api-ref/source/v3/samples/admin/domain-update-response.json
  api-ref/source/v3/samples/admin/project-create-request.json
  api-ref/source/v3/samples/admin/project-create-response.json
  api-ref/source/v3/samples/admin/project-show-parents-response.json
  api-ref/source/v3/samples/admin/project-show-response.json
  api-ref/source/v3/samples/admin/project-show-subtree-response.json
  api-ref/source/v3/samples/admin/project-update-response.json
  api-ref/source/v3/samples/admin/role-create-response.json
  api-ref/source/v3/samples/admin/role-show-response.json
  api-ref/source/v3/samples/admin/role-update-response.json
  doc/source/admin/resource-options.rst
Due: none

Change time faking for totp test
  keystone/tests/unit/test_v3_auth.py
Due: none

Add openstack_groups to assertion
  devstack/files/federation/attribute-map.xml
  doc/source/admin/federation/mapping_combinations.rst
  doc/source/admin/federation/shibboleth.inc
  keystone/api/_shared/saml.py
  keystone/federation/idp.py
  keystone/federation/utils.py
  keystone/tests/unit/contrib/federation/test_utils.py
  keystone/tests/unit/mapping_fixtures.py
  keystone/tests/unit/saml2/signed_saml2_assertion.xml
  keystone/tests/unit/test_v3_federation.py
  releasenotes/notes/bug-1641625-fe463874dc5edb10.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Parse cli args in get_enforcer
  keystone/common/rbac_enforcer/policy.py
  lower-constraints.txt
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix for werkzeug > 0.15
  keystone/server/flask/request_processing/json_body.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Community goal: Adding contributing.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
Due: none

Add cadf auditing to credentials
  keystone/api/credentials.py
  keystone/credential/core.py
  releasenotes/notes/bug-1831918-c70cf87ef086d871.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Expiring User Group Membership Model
  keystone/common/sql/contract_repo/versions/073_contract_expiring_group_membership.py
  keystone/common/sql/data_migration_repo/versions/073_migrate_expiring_group_membership.py
  keystone/common/sql/expand_repo/versions/073_expand_expiring_group_membership.py
  keystone/conf/federation.py
  keystone/federation/backends/sql.py
  keystone/identity/backends/sql_model.py
  keystone/tests/unit/test_backend_federation_sql.py
  keystone/tests/unit/test_sql_upgrade.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Expiring Group Membership Driver - Add, List Groups
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/samples/admin/user-groups-list-response.json
  api-ref/source/v3/users.inc
  keystone/identity/backends/sql.py
  keystone/identity/core.py
  keystone/identity/shadow_backends/sql.py
  keystone/tests/unit/test_backend_ldap.py
  keystone/tests/unit/test_backend_sql.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add expiring user group memberships on mapped authentication
  api-ref/source/v3/index.rst
  doc/source/admin/federation/configure_federation.rst
  keystone/api/discovery.py
  keystone/auth/plugins/mapped.py
  keystone/federation/core.py
  keystone/identity/core.py
  keystone/tests/unit/test_backend_sql.py
  keystone/tests/unit/test_versions.py
  keystone/version.py
  releasenotes/notes/bug-1809116-b65502f3b606b060.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add federated support for get user
  keystone/identity/core.py
  keystone/identity/shadow_backends/base.py
  keystone/identity/shadow_backends/sql.py
  keystone/tests/unit/test_shadow_users.py
  keystone/tests/unit/test_v3_identity.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Cleanup py27 support
  setup.cfg
  setup.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Stop configuring install_command in tox.
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add federated support for creating a user
  keystone/identity/core.py
  keystone/identity/schema.py
  keystone/identity/shadow_backends/base.py
  keystone/identity/shadow_backends/sql.py
  keystone/tests/unit/test_shadow_users.py
  keystone/tests/unit/test_v3_identity.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update contributors document keystone
  doc/source/contributor/set-up-keystone.rst
  doc/source/contributor/testing-keystone.rst
Due: none

Add federated support for updating a user
  keystone/identity/core.py
  keystone/identity/shadow_backends/base.py
  keystone/identity/shadow_backends/sql.py
  keystone/tests/unit/test_shadow_users.py
  keystone/tests/unit/test_v3_identity.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Expiring Group Memberships API - Allow set idp authorization_ttl
  api-ref/source/v3-ext/federation/identity-provider/idp.inc
  api-ref/source/v3-ext/federation/identity-provider/parameters.yaml
  api-ref/source/v3-ext/federation/identity-provider/samples/get-response.json
  api-ref/source/v3-ext/federation/identity-provider/samples/update-response.json
  keystone/api/os_federation.py
  keystone/common/validation/parameter_types.py
  keystone/federation/schema.py
  keystone/tests/unit/test_v3_federation.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update api-ref for federated objects in user
  api-ref/source/v3/index.rst
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/samples/admin/user-create-request.json
  api-ref/source/v3/samples/admin/user-create-response.json
  api-ref/source/v3/samples/admin/user-show-response.json
  api-ref/source/v3/samples/admin/user-update-response.json
  api-ref/source/v3/users.inc
  releasenotes/notes/bug-1816076-ba39508e6ade529e.yaml
Due: none

Remove a note related to UUID tokens from example configuration
  keystone/conf/default.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update hacking for Python3
  keystone/api/role_inferences.py
  keystone/application_credential/schema.py
  keystone/cmd/doctor/ldap.py
  keystone/common/sql/core.py
  keystone/common/validation/parameter_types.py
  keystone/conf/security_compliance.py
  keystone/federation/utils.py
  keystone/identity/backends/ldap/common.py
  keystone/identity/core.py
  keystone/identity/schema.py
  keystone/notifications.py
  keystone/resource/schema.py
  keystone/tests/hacking/checks.py
  keystone/tests/unit/common/test_notifications.py
  keystone/tests/unit/core.py
  keystone/tests/unit/test_cli.py
  keystone/tests/unit/test_v3_catalog.py
  keystone/tests/unit/test_v3_federation.py
  keystone/tests/unit/test_v3_identity.py
  keystone/tests/unit/test_validation.py
  keystone/tests/unit/utils.py
  test-requirements.txt
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove Babel as requirement
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add schema placeholders for Ussuri
  keystone/common/sql/contract_repo/versions/074_placeholder.py
  keystone/common/sql/contract_repo/versions/075_placeholder.py
  keystone/common/sql/contract_repo/versions/076_placeholder.py
  keystone/common/sql/contract_repo/versions/077_placeholder.py
  keystone/common/sql/contract_repo/versions/078_placeholder.py
  keystone/common/sql/data_migration_repo/versions/074_placeholder.py
  keystone/common/sql/data_migration_repo/versions/075_placeholder.py
  keystone/common/sql/data_migration_repo/versions/076_placeholder.py
  keystone/common/sql/data_migration_repo/versions/077_placeholder.py
  keystone/common/sql/data_migration_repo/versions/078_placeholder.py
  keystone/common/sql/expand_repo/versions/074_placeholder.py
  keystone/common/sql/expand_repo/versions/075_placeholder.py
  keystone/common/sql/expand_repo/versions/076_placeholder.py
  keystone/common/sql/expand_repo/versions/077_placeholder.py
  keystone/common/sql/expand_repo/versions/078_placeholder.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Enable groups testing for K2K scenarios
  devstack/lib/federation.sh
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update .gitreview for stable/ussuri
  .gitreview
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Imported Translations from Zanata
  keystone/locale/de/LC_MESSAGES/keystone.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Imported Translations from Zanata
  keystone/locale/de/LC_MESSAGES/keystone.po
  keystone/locale/en_GB/LC_MESSAGES/keystone.po
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Correct help for unified_limits
  keystone/conf/unified_limit.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Removes info about deleted function should_cache_fn
  keystone/tests/unit/core.py
Due: none

Check timestamp of signed EC2 token request
  keystone/api/_shared/EC2_S3_Resource.py
  keystone/conf/credential.py
  keystone/tests/unit/test_contrib_ec2_core.py
  releasenotes/notes/bug-1872737-f8e1ad3b6705b766.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Ensure OAuth1 authorized roles are respected
  keystone/models/token_model.py
  keystone/tests/unit/test_v3_oauth1.py
  releasenotes/notes/bug-1873290-ff7f8e4cee15b75a.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial
