Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

keystone-dsvm-functional:
  parent: devstack-tempest
  timeout: 4200
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/keystone
  - openstack/keystone-tempest-plugin
  vars:
    tox_envlist: all
    tempest_test_regex: keystone_tempest_plugin
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin

keystone-dsvm-py3-functional:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

keystone-dsvm-functional-federation-opensuse15:
  parent: keystone-dsvm-functional
  nodeset: devstack-single-node-opensuse-150
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py3-functional-federation-opensuse15:
  parent: keystone-dsvm-functional-federation-opensuse15
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    zuul_copy_output:
      /etc/shibboleth: logs

keystoneclient-devstack-functional:
  voting: false

legacy-tempest-dsvm-ldap-domain-specific-driver:
  voting: false

keystone-dsvm-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
  post-run: playbooks/legacy/keystone-dsvm-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/keystone

openstack-ansible-keystone-rolling-upgrade:
  parent: openstack-ansible-cross-repo-functional
  required-projects:
  - name: openstack/openstack-ansible-os_keystone
  vars:
    tox_env: upgrade
    osa_test_repo: openstack/openstack-ansible-os_keystone

keystone-dsvm-functional-federation-centos7:
  parent: keystone-dsvm-functional
  nodeset: devstack-single-node-centos-7
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-functional-federation-ubuntu-xenial:
  parent: keystone-dsvm-functional
  nodeset: openstack-single-node-xenial
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py35-functional-federation-ubuntu-xenial:
  parent: keystone-dsvm-functional-federation
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    zuul_copy_output:
      /etc/shibboleth: logs

Add tests for domain users for trusts
  keystone/tests/unit/protection/v3/test_trusts.py
Due: none

Add tests for system member for trusts
  keystone/tests/unit/protection/v3/test_trusts.py
Due: none

Implement system admin for trusts API
  keystone/common/policies/trust.py
  keystone/tests/unit/protection/v3/test_trusts.py
  releasenotes/notes/bug-1818846-d1a8c77d20659ad6.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Move list_roles_for_trust enforcement to policies
  keystone/api/trusts.py
  keystone/cmd/status.py
  keystone/common/policies/trust.py
  keystone/tests/unit/protection/v3/test_trusts.py
  keystone/tests/unit/test_cli.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Move get_trust enforcement to default policies
  keystone/api/trusts.py
  keystone/cmd/status.py
  keystone/common/policies/trust.py
  keystone/tests/unit/protection/v3/test_trusts.py
  keystone/tests/unit/test_cli.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement system reader role for trusts API
  keystone/common/policies/trust.py
  keystone/tests/unit/protection/v3/test_trusts.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix translated response
  keystone/i18n.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add retry for DBDeadlock in credential delete
  keystone/credential/backends/sql.py
  keystone/tests/unit/test_v3_credential.py
  releasenotes/notes/bug-1840291-35af1ac7ba06e166.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement system reader and member for endpoint_groups
  keystone/common/policies/endpoint_group.py
  keystone/tests/unit/core.py
  keystone/tests/unit/protection/v3/test_endpoint_group.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement system_admin for endpoint_groups
  keystone/common/policies/endpoint_group.py
  keystone/tests/unit/protection/v3/test_endpoint_group.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add tests for domain users interacting with endpoint_groups
  keystone/tests/unit/protection/v3/test_endpoint_group.py
Due: none

Add tests for project users interacting with endpoint_groups
  keystone/tests/unit/protection/v3/test_endpoint_group.py
  releasenotes/notes/bug-1818734-d753bfae60ffd030.yaml
Due: none

Remove experimental openSUSE 42.3 job
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix relative links
  doc/source/admin/federation/introduction.rst
  doc/source/admin/identity-concepts.rst
Due: none

Clean up UserGroups target enforcement callback
  keystone/api/users.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add tests for domain users interacting with policies
  keystone/tests/unit/protection/v3/test_policy.py
Due: none

Add notifications for deleting app creds by user
  keystone/application_credential/core.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add tests for project users interacting with policies
  keystone/tests/unit/protection/v3/test_policy.py
Due: none

Cap bandit
  setup.cfg
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement system reader & member for policy association
  keystone/common/policies/policy_association.py
  keystone/tests/unit/protection/v3/test_policy_association.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement system admin for policy association
  keystone/common/policies/policy_association.py
  keystone/tests/unit/protection/v3/test_policy_association.py
  releasenotes/notes/bug-1805409-8bc6cc9f1c5bc672.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add tests for domain users for policy association
  keystone/tests/unit/protection/v3/test_policy_association.py
Due: none

Add tests for project users for policy association
  keystone/tests/unit/protection/v3/test_policy_association.py
Due: none

Use raw formatting for mapping_engine help text
  keystone/cmd/cli.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fixing dn_to_id function for cases were id is not in the DN
  keystone/identity/backends/ldap/common.py
  keystone/identity/backends/ldap/core.py
  keystone/tests/unit/test_backend_ldap.py
  releasenotes/notes/bug-1782922-db822fda486ac773.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix python3 compatibility on LDAP search DN from id
  keystone/identity/backends/ldap/common.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix oauthlib update errors
  keystone/api/os_oauth1.py
  keystone/auth/plugins/oauth1.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix federation CI
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Override tox job timeouts
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove system policy and its association from policy.v3cloudsample.json
  etc/policy.v3cloudsample.json
  keystone/tests/unit/test_policy.py
Due: none

Implement system reader for implied roles
  keystone/common/policies/implied_role.py
  keystone/tests/unit/protection/v3/test_implied_roles.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement system reader for OAUTH1 consumers
  keystone/common/policies/consumer.py
  keystone/tests/unit/protection/v3/test_consumer.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Implement resource options for roles and projects
  keystone/assignment/core.py
  keystone/assignment/role_backends/base.py
  keystone/assignment/role_backends/resource_options.py
  keystone/assignment/role_backends/sql.py
  keystone/assignment/role_backends/sql_model.py
  keystone/assignment/schema.py
  keystone/common/resource_options/__init__.py
  keystone/common/resource_options/core.py
  keystone/common/resource_options/options/__init__.py
  keystone/common/sql/contract_repo/versions/066_contract_add_resource_options_table.py
  keystone/common/sql/data_migration_repo/versions/066_migrate_add_resource_options_table.py
  keystone/common/sql/expand_repo/versions/066_expand_add_role_and_project_option_tables.py
  keystone/resource/backends/resource_options.py
  keystone/resource/backends/sql.py
  keystone/resource/backends/sql_model.py
  keystone/resource/schema.py
  keystone/tests/unit/assignment/role_backends/test_sql.py
  keystone/tests/unit/assignment/test_core.py
  keystone/tests/unit/core.py
  keystone/tests/unit/default_fixtures.py
  keystone/tests/unit/test_sql_upgrade.py
  keystone/tests/unit/test_v3.py
  releasenotes/notes/immutable-resource-options-bug-1807751-acc1e3c689484337.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Bump timeout for lower-constraints job
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-federation-centos7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
