Repository openstack/keystone: changes, and which Zuul jobs are due for each by the changed paths.
All: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

keystone-dsvm-functional:
  parent: devstack-tempest
  timeout: 4200
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/keystone
  - openstack/keystone-tempest-plugin
  vars:
    tox_envlist: all
    tempest_test_regex: keystone_tempest_plugin
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin

keystone-dsvm-py3-functional:
  parent: keystone-dsvm-functional
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true

keystone-dsvm-functional-federation-opensuse15:
  parent: keystone-dsvm-functional
  nodeset: devstack-single-node-opensuse-150
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py3-functional-federation-opensuse15:
  parent: keystone-dsvm-functional-federation-opensuse15
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    zuul_copy_output:
      /etc/shibboleth: logs

keystoneclient-devstack-functional:
  voting: false

legacy-tempest-dsvm-ldap-domain-specific-driver:
  voting: false

keystone-dsvm-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/keystone-dsvm-grenade-multinode/run.yaml
  post-run: playbooks/legacy/keystone-dsvm-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/keystone

openstack-ansible-keystone-rolling-upgrade:
  parent: openstack-ansible-cross-repo-functional
  required-projects:
  - name: openstack/openstack-ansible-os_keystone
  vars:
    tox_env: upgrade
    osa_test_repo: openstack/openstack-ansible-os_keystone

keystone-dsvm-functional-federation-centos7:
  parent: keystone-dsvm-functional
  nodeset: devstack-single-node-centos-7
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-functional-federation-ubuntu-xenial:
  parent: keystone-dsvm-functional
  nodeset: openstack-single-node-xenial
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
    devstack_services:
      keystone-saml2-federation: true
      tls-proxy: false
    devstack_plugins:
  ...

keystone-dsvm-py35-functional-federation-ubuntu-xenial:
  parent: keystone-dsvm-functional-federation
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: /opt/stack/keystone-tempest-plugin
      USE_PYTHON3: true
    zuul_copy_output:
      /etc/shibboleth: logs

Fix security issues with EC2 credentials
  keystone/api/_shared/EC2_S3_Resource.py
  keystone/api/credentials.py
  keystone/api/users.py
  keystone/tests/unit/test_v3_application_credential.py
  keystone/tests/unit/test_v3_credential.py
  releasenotes/notes/bug-1872733-2377f456a57ad32c.yaml
  releasenotes/notes/bug-1872735-0989e51d2248ce1e.yaml
  releasenotes/notes/bug-1872755-2c81d3267b89f124.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Ensure OAuth1 authorized roles are respected
  keystone/models/token_model.py
  keystone/tests/unit/test_v3_oauth1.py
  releasenotes/notes/bug-1873290-ff7f8e4cee15b75a.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Check timestamp of signed EC2 token request
  keystone/api/_shared/EC2_S3_Resource.py
  keystone/conf/credential.py
  keystone/tests/unit/test_contrib_ec2_core.py
  releasenotes/notes/bug-1872737-f8e1ad3b6705b766.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Switch to new grenade job name
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Check timestamp of signed EC2 token request
  keystone/conf/credential.py
  keystone/contrib/ec2/controllers.py
  keystone/tests/unit/test_contrib_ec2_core.py
  releasenotes/notes/bug-1872737-f8e1ad3b6705b766.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix security issues with EC2 credentials
  keystone/api/credentials.py
  keystone/application_credential/controllers.py
  keystone/contrib/ec2/controllers.py
  keystone/tests/unit/test_v3_application_credential.py
  keystone/tests/unit/test_v3_credential.py
  releasenotes/notes/bug-1872733-2377f456a57ad32c.yaml
  releasenotes/notes/bug-1872735-0989e51d2248ce1e.yaml
  releasenotes/notes/bug-1872755-2c81d3267b89f124.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Temporarily disable k2k tests on train and stein
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Fix UserNotFound exception for expiring groups
  keystone/identity/shadow_backends/sql.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Bump hacking min version to 3.0.1
  test-requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Revert "Temporarily disable k2k tests on train and stein"
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Ensure OAuth1 authorized roles are respected
  keystone/tests/unit/test_v3_oauth1.py
Due: none

Fix security issues with EC2 credentials
  keystone/application_credential/controllers.py
  keystone/contrib/ec2/controllers.py
  keystone/credential/controllers.py
  keystone/tests/unit/test_v3_application_credential.py
  keystone/tests/unit/test_v3_credential.py
  keystone/token/providers/common.py
  releasenotes/notes/bug-1872733-2377f456a57ad32c.yaml
  releasenotes/notes/bug-1872735-0989e51d2248ce1e.yaml
  releasenotes/notes/bug-1872755-2c81d3267b89f124.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Stop explicitly requiring pycodestyle
  lower-constraints.txt
  setup.cfg
  test-requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Change time faking for totp test
  keystone/tests/unit/test_v3_auth.py
Due: none

Add service name filter to service list api-ref
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/service-catalog.inc
Due: none

Stop explicitly requiring pycodestyle
  doc/requirements.txt
  lower-constraints.txt
  setup.cfg
  test-requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Remove neutron-grenade job
  .zuul.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Disable EC2 credentials access_id update
  keystone/api/credentials.py
  keystone/tests/unit/test_v3_credential.py
  releasenotes/notes/bug-1872753-e2a934eac919ccde.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update keystone architecture doc
  doc/source/getting-started/architecture.rst
Due: none

Update doc id-manage.rst
  doc/source/admin/domain-specific-config.inc
  doc/source/contributor/id-manage.rst
Due: none

Update filtering-responsibilities and truncation
  doc/source/contributor/filtering-responsibilities.rst
  doc/source/contributor/list-truncation.rst
Due: none

Update keystone Making an API Change doc
  doc/source/contributor/api_change_tutorial.rst
Due: none

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Support regexes in whitelists/blacklists
  doc/source/admin/federation/mapping_combinations.rst
  keystone/federation/utils.py
  keystone/tests/unit/contrib/federation/test_utils.py
  keystone/tests/unit/mapping_fixtures.py
  releasenotes/notes/bug-1880252-51036d5353125e15.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Cap jsonschema 3.2.0 as the minimal version
  lower-constraints.txt
  requirements.txt
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Add cadf auditing to credentials
  keystone/credential/controllers.py
  keystone/credential/core.py
  releasenotes/notes/bug-1831918-c70cf87ef086d871.yaml
Due: keystone-dsvm-functional, keystone-dsvm-py3-functional, keystone-dsvm-functional-federation-opensuse15, keystone-dsvm-py3-functional-federation-opensuse15, keystoneclient-devstack-functional, legacy-tempest-dsvm-ldap-domain-specific-driver, tempest-full, tempest-full-py3, neutron-grenade, grenade-py3, keystone-dsvm-grenade-multinode, openstack-ansible-keystone-rolling-upgrade, tempest-pg-full, tempest-full-py3-opensuse150, keystone-dsvm-functional-federation-centos7, keystone-dsvm-functional-federation-ubuntu-xenial, keystone-dsvm-py35-functional-federation-ubuntu-xenial

Update caching-layer.rst
  doc/source/admin/caching-layer.inc
  doc/source/contributor/caching-layer.rst
Due: none

Path conditions:
  keystone-dsvm-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py3-functional-federation-opensuse15: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystoneclient-devstack-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-ldap-domain-specific-driver: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-grenade-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  openstack-ansible-keystone-rolling-upgrade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$
  keystone-dsvm-functional-federation-centos7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
  keystone-dsvm-py35-functional-federation-ubuntu-xenial: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^keystone/tests/unit/.*$, ^releasenotes/.*$
